.jsWrapper * {
  box-sizing: border-box;
}

.jsDropdown {
    position: relative;
    display: inline-block;
    width: 200px;
  }
  
  .jsDropdownButton {
    padding: 10px;
    background: #f0f0f0;;
    border: 1px solid #f0f0f0;;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: left;
  }

  .jsDropdownButton.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .jsDropdownList {
    margin-top: 0px;
    padding: 0;
    list-style: none;
    border: 1px solid #f0f0f0;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    position: absolute;
    width: 100%;  
    z-index: 1;
    max-height: 250px;
    overflow: auto;
  }
  
  .jsDropdownList li {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .jsDropdownList li:hover {
    background: #93AC19;
  }